<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.coffee.mapper.DailyBoardMapper">

	<select id="getDailyBoardList" parameterType="java.util.Map" resultType="com.spring.coffee.dailyboard.vo.DailyBoardVO">
		<![CDATA[
			SELECT * 
			FROM ( 
				SELECT ROWNUM AS rn, b.* 
				FROM  
							
		]]>
		<if test="category != null and keyword != null">
			 <![CDATA[
			 	( 
			 	SELECT 
			 		d.no as no,
                   	d.title as title,
                   	d.content as content,
                   	d.nickname as nickname,
                   	d.writeDate as writeDate,
                   	d.readCount as readCount,
                   	d.fileName as fileName
                FROM dailyboard d
                WHERE title LIKE '%' || '2' || '%'
                ORDER BY writeDate DESC
                ) b 
				WHERE ROWNUM <= #{endRow}
			) WHERE rn > #{startRow}
			 ]]>
		</if>
		<if test="category == null">
			<![CDATA[
					dailyBoard b 
					WHERE ROWNUM <= #{endRow} 
					ORDER BY writeDate DESC
				) WHERE rn > #{startRow} 
			]]>
		</if>
	</select>

    <update id="addFile" parameterType="java.util.Map">
        <![CDATA[
        	UPDATE dailyBoard SET fileName=StringArray(
        ]]>
        <foreach collection="fileNames" item="fileName" separator=", " close=")">
        	#{fileName}
        </foreach>
        <![CDATA[
	        WHERE no=#{no}
        ]]>
    </update>
	
	<select id="getDailyBoardCount" resultType="int" parameterType="java.util.Map">
		<![CDATA[
			SELECT COUNT(*) FROM dailyBoard 
		]]>
		<if test="category != null">
				WHERE ${category} LIKE '%' || #{keyword} || '%'
		</if>
	</select>
		
</mapper>