.form-container {
	margin: 0 auto;
	height: 100%;
	width: 640px;
	border-radius: 0.75rem;
	background-color: rgba(17, 24, 39, 1);
	padding: 2rem;
	color: rgba(243, 244, 246, 1);
}

.title {
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

.form {
	margin-top: 1.5rem;
}

.input-group {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.input-group label {
	display: block;
	width: 100%;
	color: rgba(156, 163, 175, 1);
	margin-bottom: 4px;
}

.input-group input {
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid rgba(55, 65, 81, 1);
	outline: 0;
	background-color: rgba(17, 24, 39, 1);
	padding: 0.75rem 1rem;
	color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
	border-color: rgba(167, 139, 250);
}

.forgot {
	display: flex;
	justify-content: flex-end;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175, 1);
	margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
	color: rgba(243, 244, 246, 1);
	text-decoration: none;
	font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
	text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
	display: block;
	width: 100%;
	background-color: rgba(167, 139, 250, 1);
	padding: 0.75rem;
	text-align: center;
	color: rgba(17, 24, 39, 1);
	border: none;
	border-radius: 0.375rem;
	font-weight: 600;
}

.social-message {
	display: flex;
	align-items: center;
	padding-top: 1rem;
}

.line {
	height: 1px;
	flex: 1 1 0%;
	background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: rgba(156, 163, 175, 1);
}

.social-icons {
	display: flex;
	justify-content: center;
}

.social-icons .icon {
	border-radius: 0.125rem;
	padding: 0.75rem;
	border: none;
	background-color: transparent;
	margin-left: 8px;
}

.loginIcon {
	height: 2rem;
	width: 2rem;
}

.signup {
	text-align: center;
	font-size: 0.75rem;
	line-height: 1rem;
	color: rgba(156, 163, 175, 1);
}

.profile {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.profile img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

#file {
	display: none;
}

.button {
  margin-bottom: 1rem;
  border: none;
  background: transparent;
}

.button {
  --primary-color: white;
  --hovered-color: rgba(167, 139, 250, 1);
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color)
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.button p::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "비밀번호 변경";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.button:hover::after {
  width: 100%;
}

.button:hover p::before {
  width: 100%;
}

.button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}